
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Apply a background color to the entire page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Style the header */
header {
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.back-btn{
    padding: 10px 20px;
    background-color:#fff;
    border-radius: 5px;
    color:#000;
}
.back-btn:hover{
    opacity: 0.7;
    transform: scale(1.1);
 

}

header h1 {
    font-size: 2rem;
}

/* Main content container */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Section headings */
h2 {
    font-size: 1.5rem;
    margin-top: 20px;
    color: #333;
}

/* Lists in sections */
ul {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}

li {
    font-size: 1rem;
    margin: 8px 0;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Responsive layout for small screens */
@media (max-width: 768px) {
    main {
        padding: 10px;
    }

    h2 {
        font-size: 1.2rem;
    }

    li {
        font-size: 0.9rem;
    }
}
